body {
    font-family: 'Montserrat' !important;
}

#highkick-main-nav .btn-link {
	color: rgb(220, 220, 220) !important;
}

#highkick-main-nav .btn-link.active {
	color: white !important;
	font-weight: 700;;
	text-shadow: rgb(119, 119, 119) 1px 1px;
}

/* PULSE INDICATOR */

.pulse-indicator {
    background: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
}

.pulse-indicator.active {
	animation: pulse 1s infinite;
    animation-iteration-count: 1;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* Rotation animation */
.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}